
  <div class="form-group"> 
        <div  class="row">
            <div class="col-md-4"> 
    
            </div>
            <div class="col-md-4"> 
                <label for="">Username</label>
              <input type="text" [formControl]='usernamecontrol' class="form-control" required/>
            </div>
            <div class="col-md-4"> 
    
            </div>
        </div>
        
        <div  class="row">
          <div class="col-md-4"> 
    
          </div>
          <div class="col-md-4"> 
            <label for="">Password</label>
            <input type="password" [formControl]='passwordcontrol' class="form-control" required />
          </div>
          <div class="col-md-4"> 
    
          </div>
        </div>
        <div  class="row" style="padding:10px;">
            <div class="col-md-4"> 
      
            </div>
            <div class="col-md-4"> 
              <button class="form-control" style="width: 100px;" (click)='submitFormdata()'>Login</button>
            </div>
            <div class="col-md-4"> 
      
            </div>
      </div>
      <!--sing up-->
      <div class="row" >
       <!-- <a href="#" (click)='GogoForgetPage()'>Need to Sign Up<S/a>
        -->
        <div class="col-md-4"> 
          
        </div>
        <div class="col-md-4"> 
          <a  [routerLinkActive]='["link-active"]' [routerLink]='["/singup"]'>Need to Singup</a>
        </div>
        <div class="col-md-4"> 
      
        </div>
         
       
    </div>
    <!--sing up ended-->
    <div class="row" >
      <!-- <a href="#" (click)='GogoForgetPage()'>Need to Sign Up<S/a>
       -->
       <div class="col-md-4"> 
         
       </div>
       <div class="col-md-4"> 
         <a  [routerLinkActive]='["link-active"]' [routerLink]='["/forget"]'>Forget Password</a>
       </div>
       <div class="col-md-4"> 
     
       </div>
        
      
   </div>
  </div>